.section-contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060229; /* Ajusta según tu diseño */
}

.container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.container-form-input, .container-photo {
    flex: 1 1 300px; /* Ajusta según el tamaño mínimo que desees */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.container-social-links-contact {
    display: flex;
    position: relative;
    width: 130px;
    z-index: 101;
}


.container-form-input label{
    color: #0879cf;
}
.error label{
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}
.container-title-text-contact {
    margin-bottom: 40px;
}
.container-title-text-contact h1 {
    color: #fff;
    margin-bottom: 20px;
}

.container-title-text-contact p {
    color: rgb(185, 176, 176);
    margin-bottom: 30px;
}

.input-style, .textarea-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-submit {
    background-color: #0879cf;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.button-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.container-photo {
    background-image: url('../../assets/contact.jpeg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 0.5;
    height: 100vh; /* Ajusta según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container-contact {
        flex-direction: column;
    }

    .container-photo {
        display: none;
    }
}