.section-hero {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.container-title {
    width: 100%;
    min-height: 200px;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-title h1 {
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
}

.container-title p {
    padding: 0 10px;
    font-size: 20px;
    color: rgb(185, 176, 176);
    margin-bottom: 15px;
}

.container-social-links {
    padding: 0 10px;
    display: flex;
    position: relative;
    width: 130px;
    z-index: 101;
}
.container-social-links i {
    transition: all 0.3s ease; /* Transición suave para los cambios */
  }
.container-social-links i:hover {
    transform: scale(1.2); /* Aumenta el tamaño del ícono al 120% */
  }

.profile-picture {
    width: 230px;
    object-fit: contain;
    opacity: 0.75;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    filter: blur(0px) drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
    position: relative;
    left: 20%;

}

.container-SplineScene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* Asegúrate de que tenga un z-index mayor que el resto de los elementos si deseas que se superponga */
}

.container-last-part-hero {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards-hero-container {
    width: 300px;
    height: 250px;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    border-radius: 20px;
    background: rgba(53, 48, 48, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.cards-hero-container h2 {
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
}

.cards-hero-container p {
    padding: 0 10px;
    font-size: 14px;
    color: rgb(185, 176, 176);

}
.projects-experience{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.container-projects-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-container{
    width: 360px;
    height: 600px;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.projects-container h2{
    margin-bottom: 40px;
    margin-top: 40px;
}
.projects{
    width: 300px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(27, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.project-item{
    height: 630px;

    margin-bottom: 10px;
    display: flex;
}
.container-box{
    width: 260px;
    margin: 10px 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #36363a;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
}
.container-box p{
    padding: 20px 10px 0 10px;
    font-size: 14px;
}
.container-box h4{
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}
.project-item img{
    width: 260px;
    object-fit: cover;
}
.container-buttons-project{
    display: flex;
}
.button-projects{
    background-color: #555;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
}
.button-projects:hover{
    background-color: #0879cf;
    cursor: pointer;
}
.projectClass, .button-projects a{
    text-decoration: none;
    color: #fff;
}

/* Estilos para la barra de desplazamiento (solo para navegadores webkit) */
.projects::-webkit-scrollbar, .experience::-webkit-scrollbar {
    width: 18px; 
  }
  
  .projects::-webkit-scrollbar-track, .experience::-webkit-scrollbar-track {
    background: #b6b3b3; 
  }
  
  .projects::-webkit-scrollbar-thumb, .experience::-webkit-scrollbar-thumb {
    background: #36363a; 
    border-radius: 5px;
    border: solid rgb(91, 89, 89) 2px; 
}

.projects::-webkit-scrollbar-thumb:hover, .experience::-webkit-scrollbar-thumb:hover {
    background: #0879cf; 
  }
.container-experience{
    width: 380px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-experience h2{
    margin-top: 40px;
}
.experience{
    width: 100%;
    height: 100%;
    margin-top: 30px;
   
}
.experience-item{
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-height1{
    height: 480px;
}
.item-height2{
    height: 400px;
}
.item-height3{
    height: 450px;
}
.contaner-box-experience{
    width: 340px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    border-left: solid 3px #36363a;
    position: relative;
}
.contaner-box-experience img{
    height: 30px;
    width: 30px;
    position: absolute;
    left: -16px;
}
.container-text-box-experience{
    padding: 0 25px;
}
.container-text-box-experience .charge-experience{
    color: #0879cf;
}

.container-skills{
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    width: 340px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-skills h2{
    color: #fff;
    margin-bottom: 40px;
}
.container-a-skill h4{
    color: #0879cf;
}
.container-a-skill li{
    color: #fff;
    margin: 10px 0;
}


.container-text-projects3d-in-home{
    padding: 20px 20px 0 20px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}
.container-text-projects3d-in-home h2{
    color: #fff;
}
.container-text-projects3d-in-home p{
    color: rgb(185, 176, 176);

}
.gallery3D-in-home img{
    width: 100%;
    height: 350px;
    object-fit: contain;
}
@media only screen and (min-width: 500px) {
    .profile-picture{
        left: 30%;
    }
}

@media only screen and (min-width: 658px) {
    .container-title {
        display: inline;
        text-align: left;
        margin-left: 20px;
    }
    .container-title h1 {
        font-size: 25px;
    }
    .container-title p {
        font-size: 20px;
    }
    .profile-picture {
        left: 10%;
    }
    .cards-hero-container {
        position: relative;
        height: 250px;
    }
}

@media only screen and (min-width: 690px) {
    .hero {
        width: 690px;
    }
}

@media only screen and (min-width: 1150px) {
    .hero {
        width: 900px;
    }
    .cards-hero-container {
        width: 400px;
        height: 250px;
    }
    .cards-hero-container h2 {
        padding: 0 20px;
        font-size: 22px;
    }
    .cards-hero-container p {
        padding: 0 20px;
        font-size: 16px;
    }
    .projects-experience{
        justify-content: space-evenly;
    }
    .projects-container{
        width: 500px;
    }
    .projects{
        width: 500px;
    }
    .container-skills{
        width: 500px;
    }
    .container-box{
        width: 420px;
    }
    .container-box img{
        width: 420px;
    }
    .container-box h4{
        font-size: 20px;
    }
    .container-box p{
        font-size: 15px;
    }
    .container-experience{
        width: 500px;
    }
    .contaner-box-experience{
        width: 410px;
    }
    .item-height1{
        height: 420px;
    }
    .item-height2{
        height: 360px;
    }
    .item-height3{
        height: 345px;
    }
    .gallery3D-in-home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-text-projects3d-in-home{
        margin-bottom: 50px;
        margin-top: 50px;
        width: 80%;
    }
    .gallery3D-in-home img{
        height: 450px;
    }
    
}

@media only screen and (min-width: 1300px) {
    .hero {
        left: 10%;
    }
    .container-title {
        max-width: 700px;

    }
    .container-title h1 {
        font-size: 35px;
    }
}
