.footer {
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: radial-gradient(circle at top left, #928AD8,#060229, #060229, #000000);
    border-top: solid 2px gray;

    
    
    font-family: "Montserrat", sans-serif;
}
.Copyright, .social-footer, .sections-nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#enlaces-footer, .social-footer a {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px 0;
}

#enlaces-footer:hover {
    color: #0879cf !important;
}

.footer-link:hover {
    color: #0879cf; /* Slight hover effect matching the gradient */
}